h1 {text-align: center;
    background-color: brown;
}

#imagem3 {margin-right: 10%;
    width: 100%;

}

#imagem1 {width: 40%;
    border-color: rgb(91, 90, 95);
    border-style: double;
    border-width: 10px;
}

#imagem2 {width: 40%;
    border-color: rgb(87, 82, 82);
    border-style: double;
    border-width: 10px;
}

h2 {background-color: brown;
    margin-right: 76%;

}

h3 {background-color: brown;
    margin-right: 73%;

}

h3 {font-size: 25px;}


