h1 {text-align: center;
    background-color: brown;
}

#imagem3 {margin-right: 10%;
    width: 100%;

}

#imagem1 {width: 40%;}

#imagem2 {width: 40%;}

h2 {background-color: brown;
    margin-right: 76%;

}

h3 {background-color: brown;
    margin-right: 73%;

}

h3 {font-size: 25px;}

h5 {margin-left: 30%;

}