body {background-color: rgb(132, 132, 139);}

h1 {text-align: center;
    background-color: brown;
    border-style: dashed;
    border-width: 20px;
    margin-right: 50%;
}

#imagem3 {margin-right: 10%;
    width: 100%;
    border-style: dashed;
    border-style: 20px;
    border-color: black;

}

#imagem1 {width: 40%;
    border-color: rgb(19, 3, 83);
    border-style: dashed;
    border-width: 10px;
}

#imagem2 {width: 40%;
    border-color: rgb(77, 67, 67);
    border-style: dashed;
    border-width: 10px;
}

h2 {background-color: rgb(90, 97, 91);
    border-style: dashed;
    border-width: 20px;
    font-size: 50px;
    margin-right: 50%;

}

h3 {background-color: rgb(42, 44, 165);
    border-style: dashed;
    border-width: 20px;
    font-size: 50px;
    margin-right: 50%;

}

h3 {font-size: 25px;}

h4 {background-color: rgb(240, 116, 0);
    font-size: 50px;
    margin-right: 50%;
    border-style: dashed;
    border-width: 20px;
}

